<div style="text-align:center;">
  <h1 style="background-image: url(<%= asset_path("h1_blue.png") %>); "> 投稿編集</h1>
  <div class="container index">
    <div class="row">
      <div class="mx-auto">
        <%= form_with model: @post, url: post_path, method: :patch do |f| %>
          <table class="table user_edit_table mb-3">
            <tr>
              <th class="text-right">投稿画像</th>
              <td class="text-left"><%= f.file_field :image, accept: "image/*" %></td>
            </tr>
            <tr>
              <th class="text-right">本文</th>
              <td class="text-left"><%= f.text_area :text %></td>
            </tr>
          </table>
            <%= f.submit '　保存　', class: "input_btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div