<div style="text-align:center;">
  <h1 style="background-image: url(<%= asset_path('h1_blue.png') %>);">フォロー会員投稿一覧</h1>
</div>

<% if @follower_posts.exists? %>
  <% @follower_posts.each do |post| %>
    <div><%= image_tag post.get_image, size: '200x200' %></div>
    <div>
      <%= image_tag post.user.get_profile_image(50,50) %>
      <%= post.user.name %>
      <%= post.created_at.strftime('%Y年%-m月%-d日 %-H時%-M分') %>
    </div>
    <div><%= post.text %></div>
    <div id="favorite_buttons_<%= post.id %>">
      <%= render 'public/partial_template/favorites', post: post %>
    </div>
    <div>
      <% if post.user == current_user %>
        <%= link_to "編集", edit_post_path(post) %>
        <%= link_to "削除", post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>

    <div id="post_comments">
      <%= render 'public/partial_template/post_comments', post: post, post_comment: @post_comment %>
    </div>

    <div id="comment_form">
      <%= render 'public/partial_template/form', post: post, post_comment: @post_comment %>
    </div>
  <% end %>
<% else %>
  <p>投稿はありません</p>
<% end %>