<% if users.exists? %>
  <% users.each do |user| %>
    <table>
      <thead></thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(50,50) %>
            <%= user.name %>
            <% end %>
          </td>
          <td>投稿数: <%= user.posts.count %></td>
          <td>フォロー数: <%= user.followings.count %></td>
          <td>フォロワー数: <%= user.followers.count %></td>
          <td>
            <%= link_to "投稿一覧へ", posts_path(user), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>会員はいません</p>
<% end %>