<div style="text-align:center;">
　 <h1 style="background-image: url(<%= asset_path("h1_green.png") %>);"> 会員情報</h1>
</div>

<div class="container index">
  <div class="row">
    <div class="mx-auto text-center">
      <p><%= flash[:notice] %></p>
      
      <div>
        <%= image_tag @user.get_profile_image(150,150) %>
      </div>
      <div style="margin-top: 10px;">
        <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "unfollow_btn" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "follow_btn" %>
          <% end %>
        <% end %>
      </div>
      
      <table class="user_edit_table mb-3">
        <tr>
          <th class="text-right">会員ID : </th>
          <td class="text-left"><%= @user.id %></td>
        </tr>
        <tr>
          <th class="text-right">名前 : </th>
          <td class="text-left"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="text-right">自己紹介 : </th>
          <td class="text-left"><%= @user.introduction %></td>
        </tr>
        <% if @user == current_user %>
          <tr>
            <th class="text-right">メールアドレス : </th>
            <td class="text-left"><%= @user.email %></td>
          </tr>
        <% end %>
      </table>
      
      <% if @user == current_user and @user.name != "guestuser" %>
        <%= link_to "　編集　", edit_user_path(@user), class: "link_btn" %>
      <% end %>
    </div>
  </div>
  <div class="col-9">
    <div class="text-right">
      <p><%= link_to '　戻る　', :back, class: "link_btn" %></p>
    </div>
  </div>
</div>