<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>StationaryClub</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#script src="jquery.min.js"></script#%>
    <script src="https://kit.fontawesome.com/84f708c9b2.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>


  <body>
        <!--<div id="hm-icon">-->
        <!--  <a class="menu-trigger" href="#">-->
        <!--    <span></span>-->
        <!--    <span></span>-->
        <!--    <span></span>-->
        <!--  </a>-->
        <!--</div>-->

      <nav id="side_bar">

        <div id="hm-icon">
          <a class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>

        <div id="side_menu" class="vh-100"
             style="background-image: url(<%= asset_path("sidebar.jpg") %>); background-size: cover; background-repeat: repeat; overflow-y: auto; background-attachment: local;">
          <div class="layer vh-100 mx-0" style="background-repeat: repeat; overflow-y: auto; background-attachment: local;">
            <div class="side_bar-wrapper d-none d-md-block">
            <ul class="sidebar">
            <% if user_signed_in? %><!--ユーザーログイン時のロゴと新規投稿リンク-->
              <li class="logo_icon mx-auto">
                <p class="logo">
                  <%= link_to my_page_path do %>
                    <%= image_tag 'logo.png', size: '200x200' %>
                  <% end %>
                </p>
                <p class="post_icon">
                  <%= link_to new_post_path do %>
                    <%= image_tag 'post_icon.png', size: '80x80' %><br>
                    <%= "新規投稿" %>
                  <% end %>
                </p>
              </li>
            <% end %>

            <% if user_signed_in? %><!--ユーザーログイン時のメニュー-->
              <%= link_to user_path(current_user) do %>
                <li class="logo_icon ml-5 mb-3">
                  <figure class="icon"><%= image_tag current_user.get_profile_image(150,150) %></figure>
                  <div class="information">
                    <p><%= " ID ： " %><%= current_user.id %></p>
                    <p><%= "名前 ： " %><%= current_user.name %></p>
                  </div>
                </li>
              <% end %>
              <li class="menu ml-5">
                <p><%= link_to "フォロー一覧", followings_path %></p><br>
                <p><%= link_to "フォロワー一覧", followers_path %><p><br>
                <p><%= link_to "投稿一覧", user_posts_path(current_user) %><p><br>
                <p><%= link_to "お気に入り投稿一覧",favorites_user_path(current_user) %></p><br>
              </li>
              <li class="search_form ml-5">
                <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <p>
                    <%= f.text_field :word %>
                    <%= f.select :range, options_for_select([['会員'], ['投稿']]) %>
                  </p>
                  <p>
                    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                    <%= f.submit "検索", class: "input_btn" %>
                  </p>
                <% end %>
              </li>
              <li class="logout ml-5">
                <p><br><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
              </li>

            <% elsif admin_signed_in? %><!--管理者ヘッダー-->
              <li class="logo_icon mx-auto">
                <p class="logo mr-5">
                  <%= link_to admin_path do %>
                    <%= image_tag 'logo.png', size: '200x200' %>
                  <% end %>
                </p>
                <p>管理者<br>ログイン中</p>
              </li>
              <li class="search_form mx-5">
                <%= form_with url: search_path, local: true, method: :get do |f| %>
                  <p>
                    <%= f.text_field :word %>
                    <%= f.select :range, options_for_select([['会員'], ['投稿']]) %>
                  </p>
                  <p>
                    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                    <%= f.submit "検索", class: "input_btn" %>
                  </p>
                <% end %>
              </li>
              <li class="log_out mx-5">
                <p><br><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></p>
              </li>

            <% else %><!--非ログイン時のメニュー-->
              <li class="logo_icon mx-auto">
                <p class="logo mr-5">
                  <%= image_tag 'logo.png', size: '200x200' %>
                </p>
              </li>
              <li class="menu mx-5">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %></br>
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %></br>
                <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: 'nav-link', method: :post %></br>
              </li>
            <% end %>
            </ul>
            </div>
          </div>
        </div>
      </nav>


    <main class="main" data-booted="true">
      <div class=" col-9 main_wrap" style="background-image: url(<%= asset_path("background_image.jpg") %>); background-repeat: repeat; overflow-y: auto; background-attachment: local;"><!--各画面部分-->
            <div class="layer vh-100 mx-0" style="background-repeat: repeat; overflow-y: auto; background-attachment: local;">
              <%= yield %>
            </div>
      </div>
    </main>
    <%= javascript_pack_tag 'jquery' %>
    <%= javascript_pack_tag 'script' %>
  </body>
</html>
